[*.cs]

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.SA1200.severity = none